footer{
    background-color: #212529;
    padding-top: 2%;
    color: #f0ece3;
    font-size: 95%;
    margin-top:5%;
}
#lab_social_icon_footer {
    padding-top: 1%;
    background-color:  #212529;

}

#lab_social_icon_footer a {
    color:#f0ece3

}

#lab_social_icon_footer #social-fb:hover {
    color: #3B5998;
}

#lab_social_icon_footer #social-in:hover {
    color: #e8505b;
}


#lab_social_icon_footer #social-em:hover {
    color: #f39c12;
}

#lab_social_icon_footer #what:hover{
    color:#ade498
}

.f-class{
    text-align: center;
    font-size: 9pt;
}

.logo{
    width:90%;
    padding-bottom: 6%;
    display: block;
    margin-left: 5%;
    margin-right: 5%;   
}

.line{
    text-decoration: underline;
}

.space{
    margin-bottom: 3%;
}

.card{
    width: 22rem;
}

.row{
    padding-top: 2%;
    
}

body{
    background-image: url(/photo/25.jpg);   
}